// ---- FONTS ----

$font-main: 'Fira Sans',
sans-serif;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-size-regular: 18px;

// ---- COLORS ----

// Regular text color
$text-color: #727272;
// Main color
$main-color: #F17275;
// Heading color
$heading-color: #5E66E7;
// App background color
$bg-color: #FAFBFC;
// White color
$white-color: #fff;
// Gray color
$gray-color: #c1c1c1;


// Header line-height
$line-height: 30px;

// ----- BREAKPOINTS -----

// Mobile phones
$screen-sm-max: 599px;
// Tablets and small desktops
$screen-md-max: 1024px;
// Large tablets and desktops
// $screen-lg-min: 992px;
// Large desktops
$screen-xl-min: 1440px;