body {
    width: 100vw;
    height: 100vh;
    background-color: $gray-color;
}

.app {
    width: 100%;
    height: 100%;
    background-color: $bg-color;
    overflow: hidden;

    @include md-media {
        @include positionCenter;
        max-width: 350px;
        max-height: 600px;
        border-radius: 10px;
        border: 2px solid $black-color;
        box-shadow: 5px 5px 5px $d-gray-color;
    }
}

.header {
    @include position(fixed, $top: 0, $left: 0);
    width: 100%;
    height: calc(#{$line-height} * 3 + (10px * 2));
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 2fr 30px;
    box-shadow: 0 1px 1px -1px $gray-color;
    padding: 10px calc(4% + 10px);
    background-color: $bg-color;
    z-index: 1;

    @include md-media {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &__name {
        grid-column-start: 1;
        grid-column-end: 3;
        line-height: calc(#{$line-height} * 2);
    }

    &__date {
        line-height: $line-height;
    }

    &__counter {
        line-height: $line-height;
        text-align: center;
    }
}

.todo__section {
    padding-top: calc(#{$line-height} * 3 + (10px * 2));
    padding-bottom: 60px;
    height: 100%;

    ul {
        max-height: 100%;
        overflow: scroll;
    }
}

.add-todo__section {
    @include position(fixed, $bottom: 0, $left: 0);
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: $bg-color;

    @include md-media {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}