* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-fontColor: #5b5b5b;
    --inactive-fontColor: #b8b8b8;
    --activeToDo: #fe9090;
    --backgroundColor: #F2F4F8;
    --dots-width: 12%;
    --icons-width: 18%;
}

html {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: var(--main-fontColor);
}

.app-wrapper {
    min-height: 100vh;
    background-color: var(--backgroundColor);
    padding: 12% 6%;
}

.main__section h1 {
    font-family: 'Stoke', serif;
    font-size: 2.2rem;
    text-align: center;
}

.main__section p {
    font-size: .8rem;
    padding: 5px 0;
}

.main__section h3 {
    color: var(--activeToDo);
    text-align: right;
    font-size: 1rem;
    margin: -12px 0 40px 0;
    cursor: pointer;
    transition: .5s;
}

.main__section h3:hover {
    color: var(--inactive-fontColor);
}

.todo__input,
.todo__container {
    border-radius: 8px;
    line-height: 3;
    margin: 15px 0;
}

.todo__input {
    width: 100%;
    font-size: 1rem;
    color: var(--main-fontColor);
    background-color: #fff;
    border: 1px solid #cdcdcd;
    /* box-shadow: 0 0 1px grey; */
    padding: 0 20px;
}

.todo__container {
    display: flex;
    width: 100%;
    color: #fff;
    background: linear-gradient(to right, var(--activeToDo) 0, #f9ad7e 100%);
}

.todo__text--long {
    line-height: 1.5;
    padding: 8px 0;
}

.todo__container .todo__dot {
    position: relative;
    flex-basis: var(--dots-width);
    background-color: var var(--main-color);
    cursor: pointer;
}

.todo__dot .fa-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.todo__dot .fa-circle:hover {
    transform: translate(-50%, -50%) scale(1.2);
}

.todo__text {
    flex-grow: 1;
    max-width: calc(100% - var(--dots-width) - var(--icons-width));
    word-wrap: break-word;
}

.todo__container--checked {
    color: var(--inactive-fontColor);
    text-decoration: line-through;
    background: #fff;
}

.todo__icons {
    flex-basis: var(--icons-width);
    position: relative;
}

.todo__icons .fa-pencil-alt,
.fa-trash-alt {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: .3s;
}

.todo__icons .fa-pencil-alt:hover,
.fa-trash-alt:hover {
    transform: translate(-50%, -50%) scale(1.2);
}

.todo__icons .fa-pencil-alt {
    left: 30%;
}

.todo__icons .fa-trash-alt {
    left: 70%;
}

@media (orientation: landscape) {
    .app-wrapper {
        padding: 6% 12%;
    }
}

@media (min-width: 641px) {
    .todo__icons {
        flex-basis: 12%;
    }

    .todo__text {
        max-width: calc(100% - var(--dots-width) - 12%);
    }
}

@media (min-width: 1026px) {
    html {
        font-size: 14px;
    }

    body {
        background-color: var(--main-fontColor);
    }

    .app-wrapper {
        min-height: 94vh;
        margin: 3% 34%;
        padding: 4% 2%;
        border-radius: 28px;
        box-shadow: 5px 5px 5px #343434;
    }

    .todo__icons {
        flex-basis: 18%;
    }

    .todo__text {
        max-width: calc(100% - var(--dots-width) - 18%);
    }
}

@media (min-width: 1280px) {
    .app-wrapper {
        margin: 3% 36%;
        padding: 4% 2%;
    }
}