* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #FDB0BE;
    --main-fonts: #b4b7bf;
}

html {
    font-family: 'Muli', sans-serif;
    color: var(--main-fonts);
}

.app-wrapper {
    min-height: 100vh;
    background-color: rgb(244, 242, 242);
}

.todo-item {
    position: relative;
    background-color: var(--main-color);
    line-height: 3;
    margin: 20px;
    padding: 0 55px;
    border-radius: 8px;
    color: #fff;
}

.todo-item--checked {
    background-color: #fff;
    color: var(--main-fonts);
    text-decoration: line-through;
}

.todo-item .todo__dot {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var var(--main-color);
    border: 2px solid #fff;
}

.todo-item .todo__dot.todo__dot--checked {
    background-color: var(--main-fonts);
    /* border: 2px solig var(--main-fonts); */
}

.todo-item .todo__remove-ico {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}