* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #fe9090;
    --main-fontColor: #999eac;
    --backgroundColor: #f5f5f5;
}

html {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: var(--main-fontColor);
}

.app-wrapper {
    min-height: 100vh;
    background-color: var(--backgroundColor);
    padding: 12% 6%;
}

.main-section h1 {
    font-family: 'Stoke', serif;
    font-size: 2.2rem;
    text-align: center;
}

.main-section p {
    font-size: .8rem;
    padding: 5px 0;
}

.main-section h3 {
    color: var(--main-color);
    text-align: right;
    font-size: 1rem;
    margin: -12px 0 40px 0;
    cursor: pointer;
}

.todo-input,
.todo-item {
    border-radius: 8px;
    box-shadow: 1px 1px 1px var(--main-fontColor);
    line-height: 3;
    margin: 15px 0;
}

.todo-input {
    width: 100%;
    font-size: 1rem;
    color: var(--main-fontColor);
    background-color: #fff;
    border: 1px solid var(--main-fontColor);
    padding: 0 20px;
}

.todo-item {
    position: relative;
    color: #fff;
    background: linear-gradient(to right, var(--main-color) 0, #f9ad7e 100%);
    padding: 0 70px 0 50px;
    /* white-space: nowrap;
            overflow: hidden; */
    /* text-overflow: clip; */
    word-wrap: break-word;
}

.todo-item .todo-dot {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var var(--main-color);
    border: 2px solid #fff;
    cursor: pointer;
    /* box-shadow: 0 0 3px grey; */
}

.todo-item--checked {
    color: var(--main-fontColor);
    text-decoration: line-through;
    background: #fff;
}

.todo-item--checked .todo-dot {
    background-color: var(--main-fontColor);
    border: 2px solid var(--main-fontColor);
}


.todo-item .todo__remove-ico {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.todo-item .todo__edit-ico {
    position: absolute;
    top: 50%;
    right: 45px;
    transform: translateY(-50%);
    cursor: pointer;
}