.todo__btn {
    flex-basis: 15%;
    @include flexCenter;

    .btn {
        font-size: 1.1rem;
    }
}


.add-todo__btn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $main-color;
    font-size: 1.2rem;
    color: $white-color;
    border: none;
}