.todo__container {
    position: relative;
    height: 55px;
    // border-bottom: 1px solid $gray-color;
    box-shadow: 0 1px 1px -1px $gray-color;
    // margin: 0 15px;
    display: flex;

    .todo__txt {
        flex-basis: 92%;
        background-color: transparent;
        border: none;
        padding: 10px;
    }

    &:hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 4px;
        background-color: $heading-color;
        transition: .4s;
    }

    &:hover .btn {
        display: block;
    }

    &:hover .todo__txt {
        flex-basis: 75%;
        transition: .4s;
    }

    &:hover .todo__btn {
        flex-basis: calc((100% - 75%)/2);
        transition: .4s;
    }

    &--checked {
        text-decoration: line-through;
    }

}