.todo__container {
    position: relative;
    height: 80px;
    border-bottom: 1px solid $gray-color;
    // margin: 0 15px;
    display: flex;

    .todo__txt {
        flex-basis: 80%;
        font-size: $font-size-regular;
        font-family: $font-main;
        background-color: transparent;
        border: none;
        padding: 10px 15px;
    }

    &:hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 8px;
        background-color: $heading-color;
    }

    &:hover .btn {
        display: block;
    }

    &--checked {
        text-decoration: line-through;
    }

}