.todo__btn {
    flex-basis: calc((100% - 92%)/2);
    @include flexCenter;
    @include transition;

    .btn {
        visibility: hidden;
        opacity: 0;
        transition: visibility .3s, opacity 0.4s linear;
        // background-color: transparent;
        width: 15px;
        height: 15px;
    }
}

.btn__complete {
    border-radius: 50%;
    border: 2px solid $gray-color;

    &--checked {
        background-color: $gray-color;
        box-shadow: inset 0 0 10px #fff;
    }
}

.btn__delete {
    position: relative;
    border: none;

    &::before,
    &::after {
        content: '';
        @include position(absolute, $top: 50%, $left: 50%);
        width: 2px;
        height: 15px;
        background-color: $gray-color;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.add-todo__btn {
    @include position(absolute, $top: 0, $left: 50%);
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $main-color;
    border: none;
    z-index: 2;

    &::before,
    &::after {
        content: '';
        @include positionCenter;
        background-color: $white-color;
    }

    &::before {
        width: 2px;
        height: 18px;
    }

    &::after {
        width: 18px;
        height: 2px;
    }
}