.todo__container {
    position: relative;
    height: 55px;
    display: flex;
    box-shadow: 0 1px 1px -1px $gray-color;

    .todo__txt {
        flex-basis: 92%;
        background-color: transparent;
        border: none;
        padding: 10px;
        @include transition;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -4px;
        height: 100%;
        width: 4px;
        background-color: $heading-color;
        @include transition;
    }

    &:hover::before {
        left: 0;
    }

    &:hover .btn {
        // display: block;
        visibility: visible;
        opacity: 1;
    }

    &:hover .todo__txt {
        flex-basis: 75%;
    }

    &:hover .todo__btn {
        flex-basis: calc((100% - 75%)/2);
    }

    &--checked {

        // & .btn-default i {
        //     color: $main-color;
        // }
        &::before {
            background-color: $gray-color;
        }

        & .todo__txt {
            text-decoration: line-through;
            color: $gray-color;
        }
    }

}