// body {
//     @include sm-media {
//         background-color: gray;
//         @include flexCenter;
//     }
// }

.app-wrapper {
    background-color: gray;
    width: 100vw;
    height: 100vh;
}

.app {
    width: 100%;
    height: 100%;
    background-color: $white-color;
    overflow: hidden;
    // transform: rotate(0deg);
    // overflow: scroll;
    // display: flex;
    // flex-direction: column;

    @include sm-media {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 600px;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 5px 5px 5px #343434;
    }
}

.header__container {
    position: fixed;
    top: 0;
    left: 0;
    // width: 100%;
    height: calc(#{$line-height} * 3 + (10px * 2));
    z-index: 1;

    @include sm-media {
        position: absolute;
        // max-width: 350px;
    }

    .header {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 2fr 30px;
        width: 100%;
        height: 100%;
        box-shadow: 0 1px 1px -1px $gray-color;
        padding: 10px calc(4% + 10px);
        background-color: $white-color;

        &__name {
            grid-column-start: 1;
            grid-column-end: 3;
            line-height: calc(#{$line-height} * 2);
        }

        &__date {
            line-height: $line-height;
        }

        &__counter {
            line-height: $line-height;
            text-align: center;
        }
    }

}

.todo__section {
    min-height: 100%;
    padding: calc(#{$line-height} * 3 + (10px * 2)) 0 60px 0;
    // flex-grow: 1;
    overflow: scroll;
}

li {
    list-style: none;
}

.add-todo__section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    // z-index: -1;

    @include sm-media {
        position: absolute;
        // max-width: 350px;
    }
}